@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import "~font-awesome/css/font-awesome.css";

#app {
/*     .container { 
        padding: 0 15%;
    } */
    .section-title {
        color: $proj-title-grey;
        font-family: 'Playfair Display', serif;
        font-size: $fs-title-section;
    }
    .title {
        font-family: 'Playfair Display', serif;
        color: $proj-golden;
        font-size: $fs-title;
    }
    .text {
        color: $proj-text-grey;
    }
    .text-golden {
        color: $proj-golden;
    }
    .paragraph {
        color: $proj-text-grey;
        font-size: $fs-paragraph;
    }
    .proj-link {
        text-decoration: none;
        padding: 10px 20px;
        color: $proj-golden;
        border: 2px solid $proj-golden;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 10%;
        &:hover {
            color: $proj-golden-hover;
            border: 2px solid $proj-golden-hover;
        }
    }
    .icons {
        color: $proj-title-grey
    }
    .on-title {
        color: $proj-golden;
    }
    .padding-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}