@import "variables.scss";

header {
    position: relative;
    background-size: cover;
    background-image: url("./assets/header-bg.jpg");
    background-repeat: no-repeat;

    .hero-section {
        .left-text {
            flex-direction: column;
            justify-content: center;

            .main-title {
                font-size: $fs-title-big!important;
            }
            .line {
                height: 3px;
                background-color: $proj-golden;
                width: 40%;
            }
        }
    }
    .cards {
        position: absolute;
        top: 20%;
        right: 10px;

        .card {
            transition: transform .3s ease-out;
            &:hover {
                transform: translate(-15px, 0);
            }
        }

        .upper-card {
            width: 70px;
            height: 70px;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                height: 100%;
                color: #24394f;
                text-decoration: none;
            }
            
        }
        .lower-card {
            width: 70px;
            height: 70px;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                height: 100%;
                color: #24394f;
                text-decoration: none;
                position: relative;

                    .dollar {
                        color: #57b66f;
                        position: absolute;
                        left: 15px;
                    }
                    .number {
                        color: #57b66f;
                        position: absolute;
                        font-size: 26px;
                        right: 15px;
                        top: 5px;
                    }

                
                .sale {
                    padding-top: 30px;
                }
            }
            
        }
    }
}