@import "variables.scss";

header {
    background-size: 100%;
    background-image: url("./assets/header-bg.jpg");
    background-repeat: no-repeat;
    object-fit: fill;
    object-position: center;
    filter: invert(0.08);

    .left-text {
        flex-direction: column;
        justify-content: center;

        .main-title {
            font-size: $fs-title-big!important;
        }
        .line {
            height: 3px;
            background-color: $proj-golden;
            width: 40%;
        }
    }
}