.pro-barber {
    background-size: 100%;
    background-image: url("./assets/pro-bg.jpg");
    width: 100%;
    object-fit: cover;
    object-position: center;
    justify-content: center
}

.services {
    .icon-container {
        img {
           height: 90px;
           width: 50px;

           &.large {
            width: 70px;
        }
        }
        
    }
}