.pro-barber {
    background-size: 100%;
    background-image: url("./assets/pro-bg.jpg");
    width: 100%;
    object-fit: cover;
    object-position: center;
    justify-content: center
}

.services {
    .icon-container {
        img {
           height: 90px;
           width: 50px;

           &.large {
            width: 70px;
        }
        }
        
    }
}

.products {
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-image: url("./assets/products-bg.jpg");
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: invert(0.08);
    .products-container {
        img {
            width: 100%;
        }
    }
    .shaving-butter {
        .row {
            border-top: 3px solid $proj-golden;
            height: 355px;
            overflow: hidden;
            .col-left {
                background-image: url("./assets/butter-bg.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 40%;

                img {
                    width: 100%;
                }
            }
            .col-right {
                background-color: #191A1A;
                width: 60%;
            }
        }
    }
}
